@model IEnumerable<mvcwithado.Models.EmpModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
} 

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeGender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeDesignation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.EmployeeId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EmployeeName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EmployeeGender)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EmployeeDesignation)
    </td>
    <td>
       <img src="~/photo/@item.Image" width="100px" height="100px"/>
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new {  id=item.EmployeeId }) |
        @Html.ActionLink("Details", "Details", new {  id=item.EmployeeId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeId })
    </td>
</tr>
    }

</table>
